apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secrets
type: Opaque
stringData:
  API_TOKEN: {{ .Values.secrets.apiToken | quote }}
  CLAWDBOT_URL: {{ .Values.secrets.clawdbotUrl | quote }}
  CLAWDBOT_TOKEN: {{ .Values.secrets.clawdbotToken | quote }}
